.aboutBox {
  width: 100%;
  padding: 60px 250px;
  display: flex;
  flex-direction: column;
}

.aboutBox .top {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 0 0 45px 0;
}

.aboutBox .top h1 {
  background-color: #323232;
  font-size: 24px;
  padding: 10px 30px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
}

.aboutBox .center {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #42a67b;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 30px 0;
}

.aboutBox .center span {
  font-weight: bold;
  color: #323232;
  margin: 0 0 15px 0;
}

.aboutBox .center ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: disc;
  padding: 0 5px 0 30px;
}

.aboutBox .center ul li {
  position: relative;
  width: 100%;
  display: flex;
}

.aboutBox .center ul li:before {
  content: '';
  width: 6px;
  height: 6px;
  background: #282828;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top: 9px;
}

.aboutBox .bottom {
  width: 100%;
  position: relative;
}

.aboutBox .bottom img {
  width: 100%;
}
