.blogBox {
  width: 100%;
}

.blogBox h1 {
  width: calc(100% - 550px);
  padding: 30px 0 15px 0;
  margin: 0;
  text-align: center;
  font-size: 48px;
  color: #323232;
  font-style: italic;
  position: fixed;
  top: 0;
  left: 275px;
  z-index: 2;
  background-color: #ececec;
}

.blogBox ul.blogUl {
  width: 100%;
  position: relative;
  margin: 100px 0 0 0;
}

.blogBox ul.blogUl li {
  width: 100%;
  border-bottom: 2px solid #dedede;
  transition: background-color .4s ease;
}

.blogBox ul.blogUl li:hover {
  background-color: #ececec;
}

.blogBox ul.blogUl li a {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 60px 0;
}

.blogBox ul.blogUl li .number {
  width: 100%;
  text-align: center;
  font-size: 48px;
  margin: 0 0 15px 0;
  color: #42a67b;
  font-style: italic;
}

.blogBox ul.blogUl li .title {
  width: 100%;
  color: #323232;
  margin: 0 0 30px 0;
  padding: 0 20%;
  font-size: 22px;
  line-height: 32px;
}

.blogBox ul.blogUl li .desc {
  width: 100%;
  color: #42a67b;
  margin: 0 0 0 0;
  padding: 0 20%;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
}

.blogBox .pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}

.blogBox .pagination li {
  margin: 0 10px;
}

.blogBox .pagination li.active a {
  background-color: #282828;
}

.blogBox .pagination li a {
  width: 40px;
  height: 40px;
  color: #42a67b;
  background: #585858;
  transition: all .4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blogBox .pagination li a:hover, .blogBox .pagination li a.active {
  background-color: #282828;
}
