* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background: #faf8f8;
  font-family: monospace;
  font-weight: bold;
  font-size: 14px;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.main .homeBox {
  width: 100%;
  display: flex;
}

.main .homeBox .leftBox {
  width: 275px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background: #323232;
  overflow: hidden;
}

.main .homeBox .leftBox .top {
  width: 100%;
  display: flex;
}

.main .homeBox .leftBox .top .bgImage {
  width: 100%;
  height: 275px;
  text-indent: -999px;
  background: url("https://instagram.fsaw2-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p750x750/14334712_1744129595837784_8308303587717414912_n.jpg?_nc_ht=instagram.fsaw2-1.fna.fbcdn.net&_nc_cat=100&_nc_ohc=cCsBxx4DFSoAX_K4VxP&oh=7837120e74e1f9870051100115266c16&oe=5EB99F0D") no-repeat top center;
  background-size: cover;
}

.main .homeBox .leftBox .bottom {
  width: 100%;
  display: flex;
}

.main .homeBox .leftBox .bottom ul {
  width: 100%;
}

.main .homeBox .leftBox .bottom ul li {
  width: 100%;
  display: flex;
}

.main .homeBox .leftBox .bottom ul li a {
  width: 100%;
  text-align: center;
  padding: 20px 20px;
  color: #42a67b;
  border-bottom: 2px solid #585858;
  transition: all .4s ease;
  font-size: 16px;
  letter-spacing: 2px;
}

.main .homeBox .leftBox .bottom ul li a:hover, .main .homeBox .leftBox .bottom ul li a.menuActive {
  color: #42a67b;
  background-color: #282828;
}

.main .homeBox .contentBox {
  width: calc(100% - 550px);
  height: 100%;
  overflow-y: auto;
  margin: 0 275px 0;
  display: flex;
  justify-content: center;
  box-sizing: content-box;
}

.main .homeBox .rightBox {
  width: 275px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  border-left: 2px solid #dedede;
}

.main .homeBox .rightBox .recentPosts {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  border-bottom: 2px solid #dedede;
  position: relative;
}

.main .homeBox .rightBox .recentPosts .title {
  width: 100%;
  letter-spacing: 2px;
  margin: 0 0 20px 0;
}

.main .homeBox .rightBox .recentPosts ul {
  width: 100%;
  padding: 0 5px 0 30px;
}

.main .homeBox .rightBox .recentPosts ul li {
  width: 100%;
  margin: 0 0 15px 0;
  position: relative;
}

.main .homeBox .rightBox .recentPosts ul li:before {
  content: '';
  width: 6px;
  height: 6px;
  background: #282828;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top: 7px;
}

.main .homeBox .rightBox .recentPosts ul li a {
  width: 100%;
  color: #42a67b;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: break-word;
  overflow: hidden;
  height: 38px;
  transition: color .4s ease;
}

.main .homeBox .rightBox .recentPosts ul li a:hover {
  color: #323232;
}

.main .homeBox .rightBox .socialMedia {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  overflow: hidden;
}

.main .homeBox .rightBox .socialMedia .title {
  width: 100%;
  letter-spacing: 2px;
  margin: 0 0 20px 0;
}

.main .homeBox .rightBox .socialMedia ul {
  width: 100%;
  display: flex;
}

.main .homeBox .rightBox .socialMedia ul li {
  display: flex;
  padding: 0 10px 0 0;
}

.main .homeBox .rightBox .socialMedia ul li a {
  width: 40px;
  height: 40px;
  background: #dedede;
  text-indent: -999px;
}

.main .homeBox .rightBox .socialMedia ul li a.twitter {
  background: url("https://149365075.v2.pressablecdn.com/wp-content/plugins/clean-social-share-widget/images/twitter-for-light.png");
  background-size: cover;
}

.main .homeBox .rightBox .socialMedia ul li a.facebook {
  background: url("https://149365075.v2.pressablecdn.com/wp-content/plugins/clean-social-share-widget/images/facebook-for-light.png");
  background-size: cover;
}

.main .homeBox .rightBox .socialMedia ul li a.linkedin {
  background: url("https://149365075.v2.pressablecdn.com/wp-content/plugins/clean-social-share-widget/images/linkedin.png");
  background-size: cover;
}

.main .homeBox .rightBox .socialMedia ul li a.mail {
  background: url("https://149365075.v2.pressablecdn.com/wp-content/plugins/clean-social-share-widget/images/email-for-light.png");
  background-size: cover;
}

.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  opacity: 0.5;
  z-index: 99;
}
