.blogBox{width:100%;
    h1{width:calc(100% - 550px); padding:30px 0 15px 0; margin:0; text-align: center;  font-size:48px; color:#323232; font-style:italic; position: fixed; top:0; left: 275px; z-index: 2; background-color:#ececec; }
    ul.blogUl{width:100%; position: relative;margin: 100px 0 0 0;
        li{width: 100%; border-bottom: 2px solid #dedede; transition: background-color .4s ease;
            &:hover{background-color:#ececec;}
            a{width:100%; display: flex; flex-direction:column;padding:60px 0;}
            .number{width:100%; text-align: center; font-size:48px; margin:0 0 15px 0; color:#42a67b; font-style:italic;}
            .title{width:100%; color:#323232; margin:0 0 30px 0; padding: 0 20%; font-size: 22px; line-height: 32px;}
            .desc{width:100%; color:#42a67b; margin:0 0 0 0; padding: 0 20%;  font-size: 16px; line-height: 26px; font-weight: normal;}
        }
    }
    .pagination{width:100%;  display: flex; align-items: center;  justify-content: center; padding: 60px 0;
        li{margin: 0 10px;
            &.active{
                a{background-color: #282828;}
            }
            a{width:40px; height:40px; color: #42a67b; background:#585858; transition: all .4s ease-in-out; display: flex; align-items: center; justify-content: center; cursor: pointer;
                &:hover, &.active{background-color: #282828;}
            }
        }
    }                
}

.blogDetail{width:100%; padding:0 50px;
    h1{width:calc(100% - 550px); padding:30px 0 15px 0; margin:0; text-align: center;  font-size:48px; color:#323232; font-style:italic; position: fixed; top:0; left: 275px; z-index: 2; background-color:#ececec; }
    .blogDetailBox{width: 100%; display:flex; flex-direction: column;  margin: 150px 0 0 0;
      .container{width:960px; margin:0 auto;}
      .top{width:100%; display: flex; flex-direction: column; color: #42a67b;font-size: 16px; line-height: 28px;  text-align: center; font-weight: normal;}
      .center{width:100%; display: flex; flex-direction: column; position: relative; 
          img{width:100%;}      
      }
      .bottom{width:100%; display: flex; flex-direction: column; margin: 0 0 100px 0;
        .btn {width:400px; height: 100px; margin:0 auto; background: #ecedef; color: #23262c; display: flex; flex-direction: column; align-items: center; justify-content: center; transition:background .4s ease-in-out;
          &:hover {background: #23262c;
            .text, .web { color: #fff;}
          }
          .text { font-size: 30px; line-height: 40px; color: #23262c; font-weight: bold; margin:0 0 10px 0; transition:color .4s ease-in-out;}
          .web {  font-size: 16px; line-height: 20px; color: #23262c; font-weight: normal; transition:color .4s ease-in-out;} 
        }
      }
    }
  }